.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #222;
	border-bottom: 1px solid #fff;
	height: 70px;
}

.header__inner {
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
